@import url('https://fonts.googleapis.com/css2? family= Raleway:ital,wght@1,700 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Open+Sans & family= Raleway:ital,wght@1,700 & display=swap');

/* ------------ Navbar --------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#navbar {
    font-family: 'Raleway', sans-serif;
    background-color: hsl(218, 28%, 13%);
    padding: 25px;
}
#navbar a {
    color: hsl(0, 0%, 100%);

}
/* ------------ APP --------------*/
.App{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
}
/* ------------ body --------------*/
#body {
    display: flex;
    width: 100%;
    background-color: hsl(218, 28%, 13%);
    font-size:14px;
    /* font-weight: 400 700; */
    color: hsl(0, 0%, 100%);
    flex-grow:3;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    
}
#body small{
    font-size:14px;
}


/* ------------ footer --------------*/
#footer{
    background-color: hsl(216, 53%, 9%);
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* background-color: aqua; */
}

/* ------------ cards2 --------------*/
